<h2>Order Created</h2>

<p>Your order was sucessfully created!</p>

<p>You ordered:</p>
<p>Order_id: <%= @order.id %></p>
<p>User_id: <%= @order.user_id %></p>
<p>Item_id: <%= @order.item_id %></p>
<p>Created_at: <%= @order.created_at %></p>
