<h2>Order Created</h2>

<p>Your order was sucessfully created!</p>

<p>You ordered:</p>
<p>Order #: <%= @order.id %></p>
<p>Name: <%= @order.user.name %></p>
<p>Item: <%= @order.items.pluck(:name) %></p>
<p>Created_at: <%= @order.created_at %></p>
