<h2>Thanks for sumbitting!</h2>
<h4>Please review the details of your submission below:</h4>

<p>Name: <%= params[:name] %></p>
<p>Email: <%= params[:email] %></p>
<p>Message: <%= params[:message] %></p>
