/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	background-color: aliceblue;
	color: tomato;
	font-family: helvetica;
	margin-right: 100px;
	margin-left: 100px;
	font-size: 20px;
}

.login {
	margin-top: 30px;
	text-align: right;
	font-size: 18px;
}

.login a {
	text-decoration: none;
	color: white;
}

.login li {
	display: inline-block;
	padding: 3px;
	background-color: tomato;
	border-radius: 5px;
}

.nav {
	margin-top: 10px;
	text-align: center;
	font-size: 25px;
}

.nav a {
	text-decoration: none;
	color: red;
}

.nav li {
	display: inline-block;
	background-color: white;
	padding: 5px;
	border-radius: 5px;
	border-color: tomato;
	border-style: solid;
	border-width: 1px;
}

.allhotels a {
	color: gold;
}


a {
	text-decoration: none;
	color: blue;
}

.newhotel {
	margin-top: 40px;
	text-align: center;
}

.newhotel a {
	color: sienna;
}

.newhotel li {
	display: inline-block;
	padding: 10px;
	border-radius: 10px;
	background-color: gold;
	/*border-color: sienna;
	border-style: solid;
	border-width: 1px;*/
}

.user {
	margin: 10px;
	padding: 2px;
}

.makeitbold {
	font-weight: bold;
}

.makeititalic {
	font-style: italic;
}

.makeitsmaller {
	font-size: 15px;
}

.nameprofile {
	color: red;
	font-size: 23px;
	font-weight: bold;
}

.nameprofile a {
	color: red;
}

.hotelprofile {
	color: gold;
	font-size: 23px;
	font-weight: bold;
}

.hotelprofile a {
	color: gold;
}

.hotel {
	color: gold;
}

.goldenrod {
	color: goldenrod;
}



.show {
	margin-top: 30px;
	margin-bottom: 30px;
}

.show h2 {
	font-size: 25px;
}

.show p, h2 {
	padding: 10px;
}

.instruct {
	font-size: 30px;
	text-decoration: underline;
	margin-top: 30px;
	text-align: center;
}

/*DEVISE STUFFF*/
.field {
	padding: 5px;
}

.links {
	margin-top: 15px;
	font-size: 15px;
	text-align: left;
}

.notice, .alert, .error-messages, #error_explanation {
	color: white;
	background-color: blue;
	margin: 20px;
	padding: 10px;
	text-align: center;
	border-radius: 10px;
}